footer {
    width: 100%;
    background-color: #84725c;
    margin-top: 25px;
    color: #F6EACC;
}

.contenedor-footer {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 20px 40px 40px 40px;
}

.colum1 {
    max-width: 400px;    
}

.colum1 h1 {
    font-size: 24px;
}

.fila2 {
    max-width: 400px;
}

.fila1 {
    margin-top: 20px;
    display: flex;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 24px;
}

.fila1 {
    margin-top: 20px;
    display: flex;
}

.fila1 img {
    width: 30px;
    height: 31px;
}

.fila1 a {
    margin-right: 20px;
    color: #F6EACC;
}

.fila1 a {
    margin: 5px 20px 0px 8px;
    color: #F6EACC;
    text-decoration: none;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 24px;
}

.fila2 {
    margin-top: 20px;
    display: flex;
}

.fila2 img {
    width: 35px;
    height: 35px;
}

.fila2 label {
    margin-top: 5px;
    margin-left: 8px;
}

@media screen and (max-width: 1100px){

    .contenedor-footer {
        flex-wrap: wrap;
    }

    .colum1 {
        max-width: 100%;
    }

    .colum2,
    .colum3 {
        margin-top: 40px;
    }

}

@media screen and (max-width: 450px){
 
}
