*{
    box-sizing: border-box;
    text-decoration: none;    
}

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5E8C7;
}
  
header {
    margin: 0px;
    padding: 0px;
    background-color: #F5E8C7;
    top: 0;
    left: 0;
    width: 100%;
    height: 151px;
    z-index: 2;
}

.contenedor-header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer*/
footer {
  width: 100%;
  background-color: #84725c;
  margin-top: 25px;
  color: #F6EACC;
}

.contenedor-footer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  padding: 20px 40px 40px 40px;
}

.colum1 {
  max-width: 400px;

  h1 {
    font-size: 24px;
  }
}

.fila2 {
  max-width: 400px;
}

.fila1 {
  margin-top: 20px;
  display: flex;
}

.colum2 {
  max-width: 400px;

  h1 {
    font-size: 24px;
  }
}

.fila1 {
  margin-top: 20px;
  display: flex;

  img {
    width: 30px;
    height: 31px;
  }

  a {
    margin-right: 20px;
    color: #F6EACC;
    margin: 5px 20px 0px 8px;
    color: #F6EACC;
    text-decoration: none;
  }
}

.colum3 {
  max-width: 400px;

  h1 {
    font-size: 24px;
  }
}

.fila2 {
  margin-top: 20px;
  display: flex;

  img {
    width: 35px;
    height: 35px;
  }

  label {
    margin-top: 5px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 1100px) {
  .contenedor-footer {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }

  .colum2 {
    margin-top: 40px;
  }

  .colum3 {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

/*Nav menu */

.menu {
    height: 80px;
  
    nav {
      height: 100%;
  
      ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
  
        li {
          height: 30px;
          margin: 0px 20px;
          display: flex;
          justify-content: center;
  
          a {
            background-color: #F5E8C7;
            color: #432918;
            text-decoration: none;
            font-size: 19px;
          }

          img {
            display: none;
          }
        }
      }
    }
  
    ul li a:hover {
      border-bottom: 3px solid #cc9752;
    }
  }

/*Nav menu footer*/

.menu {
    height: 80px;
  }
  
  .menu-footer {
    height: 80px;
  
    nav {
      height: 100%;
  
      ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
  
        li {
          height: 30px;
          margin: 0px 20px;
          display: flex;
          justify-content: center;
  
          a {
            background-color: #F5E8C7;
            color: #432918;
            text-decoration: none;
            font-size: 19px;
          }
        }
      }
    }
  
    ul li a:hover {
      border-bottom: 3px solid #cc9752;
    }
  }

  #icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    background-color: #ebdcb8;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }

  /*Titulos*/
  .titular-main {
    color: #cc9752;
    font-family: 'Montserrat', 'Roboto';
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  
  .style-title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 2px;
    color: #432918;
  }

  /*Paragraph*/
  .paragraph {
    color: #432918;
    font-size: 16px;
    text-align: center;
  }

  /*Logos redes sociales*/
  .logoLink {
    margin: 20px 0px;
    display: inline-block;
  }
  
  .imgLogo {
    padding: 0;
    width: 30px;
    margin: 5px;
  }

 
  






