/*Media querie*/
@media screen and (max-width: 1150px) {
    .contenedor-header, .contenedor-main, .contenedor-footer {
      max-width: 1000px;
      padding: 0 20px;
    }
  }

@media screen and (max-width: 1020px) {
    .contenedor-header, .contenedor-main, .contenedor-footer {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .row {
        width: 95%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    } 
    .contenedor-main div iframe {
        width: 32em;
    }
    .contenedor-main {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .contenedor-main div iframe {
        width: 112%;
    }
}




