/*Covid-19-----------------------------------------*/
/*Titulo protocolos*/
.titleProtocolos {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 2px;
    color: #432918;
    text-align: center;
  }

 /*Paragraph*/
 .paragraphCovid {
    color: #432918;
    font-size: 16px;
    text-align: justify;
  }

  .container-covid {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.239);
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 15px;
    margin-top: 15px;
    border:2px dashed #cc9752;
  }

  @media screen and (max-width: 910px) {
    .container-covid {
        margin-left: 10px;
        margin-right: 10px;
    }
  }

  @media screen and (max-width: 550px) {
    body {
        overflow-x: hidden;
      }
    .titleProtocolos {
      font-size: 28px;
    }
    .container-covid img {
        width: 100%;
    }
    .container-covid p {
        margin-left: 10px;
        margin-right: 10px;
    }
  }