/*GALERÍA-----------------------------------------*/
  /*Galería de fotos*/
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
  }

  .flexPosition {
    display: flex;
    justify-content: center;
  }

  .animacion-img {
    border: 4px #cc9752 ridge;
    transition: all 2s;
  
    /*Chrome y Edge*/
    -webkit-transition: all 2s;
  
    /*Mozilla*/
    -moz-transition: all 2s;
  
    /*Opera*/
    -o-transition: all 2s;
  
    &:hover {
      transform: scale(1.5);
  
      /*Chrome y Edge*/
      -webkit-transform: scale(1.5);
  
      /*Mozilla*/
      -moz-transform: scale(1.5);
  
      /*Opera*/
      -o-transform: scale(1.5);
    }
  }

  /*Media querie*/

  @media screen and (max-width: 900px) {
    .contenedor-main .gridContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }